.donate-now {
  list-style-type: none;
  margin: 25px 0 0 0;
  padding: 0;
}

.donate-now li {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.donate-now label,
.donate-now input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
  background: rgb(255, 200, 47);
}

.donate-now label {
  padding: 5px;
  border: 1px solid #CCC;
  cursor: pointer;
  z-index: 90;
}

.donate-now label:hover {
  background: #DDD;
}

.data {}

table {
  border: 5px;
}


#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #da976b;
  color: white;
}

.form1 {
  margin-top: 10px;
  border: 1px solid #ddd;
  padding-top: 20px;
}

input#date.input1._has-datepicker {
  border-radius: 10px;
  width: 400px;
  padding-left: 30px;

}

#Cbutton {


  border-style: none;
  color: white;
  background-color: #15dada;
  border-style: none;
  font-size: large;
  width: 200px;
  font-weight: bold;
  padding-top: 10px;
}

#header {
  font-family: fangsong;
  margin-left: 20px;
  margin-bottom: 10px;

}

input.input2 {
  width: 400px;
  border-radius: 10px;
  padding-left: 30px;
  margin-left: 20px;
}