<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Projectoct\Project\Api\SlotRepositoryInterface" type="Projectoct\Project\Model\SlotRepository"/>
    <preference for="Projectoct\Project\Api\Data\SlotInterface" type="Projectoct\Project\Model\Slot" />
<preference for="Magento\Customer\Controller\Account\LoginPost" type="Projectoct\Project\Controller\Account\LoginPost" />
 <virtualType name="Projectoct\Project\Model\ResourceModel\Slot\Slot\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
                <argument name="mainTable" xsi:type="string">booking</argument>
            <argument name="resourceModel" xsi:type="string">Projectoct\Project\Model\ResourceModel\Slot</argument>
        </arguments>
        </virtualType>
        <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
            <arguments>
            <argument name="collections" xsi:type="array">
                <item name="slot_data_data_source" xsi:type="string">Projectoct\Project\Model\ResourceModel\Slot\Slot\Collection</item>
        </argument>
        </arguments>
    </type>
</config>
