<?xml version="1.0"?>
<!--
/**
 * Webkul_Grid Menu
 *
 * @category    Webkul
 * @package     Webkul_Grid
 * @author      Webkul Software Private Limited
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Projectoct_Project::manager" title="Booking" module="Projectoct_Project" sortOrder="10" resource="Projectoct_Project::manager"/>
        <add id="Projectoct_Project_Child::add_row" title="Data" module="Projectoct_Project" sortOrder="20" parent="Projectoct_Project::manager" action="slot/grid" resource="Projectoct_Project::add_row"/>
        <add id="Projectoct_Project_Child2::add_row" title="Configuration" module="Projectoct_Project" sortOrder="25" parent="Projectoct_Project::manager" action="adminhtml/system_config/edit/section/module/slot" resource="Projectoct_Project::add_row"/>
    </menu>
</config>